@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  background-image: url("./assets/bg-pattern-dark.png"); 
  background-color: rgb(250, 215, 173);
  
}
